nav#custom-navbar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
  top: 0.9rem;
  background-color: #fffdfa;
  box-shadow: 18px 18px 50px -10px rgba(255, 152, 31, 0.4);
  max-height: 80px;
  align-items: center;
}
#custom-nav-logo {
  height: 50px;
  width: auto;
  margin: 0 1.5rem !important;
  /* padding: 0 2rem !important; */
}

#custom-nav-links {
  font-family: "Sen", sans-serif;
  margin: 0 1.2rem !important;
  width: fit-content;
}
.custom-nav-link {
  color: #482625;
  margin: 0 1rem !important;
  font-size: 0.9rem;
  font-weight: 400;
  border: transparent solid 5px;
  padding-bottom: 0.25rem !important;
}

.custom-nav-link:hover,
.custom-nav-link-active {
  border-bottom: 3px solid #fa897b;
  border-radius: 6px;
}

@media (min-width: 576px) {
  /* THIS IS FOR MOBILE VIEW */
}
@media (min-width: 768px) {
  nav#custom-navbar {
    top: 1.3rem;
  }
}

@media (min-width: 992px) {
  nav#custom-navbar {
    top: 1.45rem;
  }
  #custom-nav-logo {
    height: 68px;
    margin: 0 2rem !important;
  }
  .custom-nav-link {
    margin: 0 1.7rem !important;
    font-size: 0.95rem;
  }
}

@media (min-width: 1200px) {
  /*xl */
  nav#custom-navbar {
    top: 2rem;
  }
  #custom-nav-logo {
    height: 80px;
    margin: 0 2rem !important;
  }
  #custom-nav-links {
    margin: 0 3rem !important;
  }
  .custom-nav-link {
    margin: 0 2rem !important;
    font-size: 1.1rem;
  }
}
