body {
    background-color: #fff8ef;
    --bg: #fff8ef;
    --bg-light: #fffdfa;
    --primary: #482625;
    --secondary: #fa897b;
    --white: #fff;
    --black: #000;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
  }
  #bsvg-1 {
    position: static;
    display: flex;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  #circles-illustration {
    position: relative;
    top: 0;
    left: 0;
    height: calc(3rem + 50 * ((100vw - 10px) / 150));
    width: auto;
  }
  #rectangle-illustration {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(1rem + 40 * ((100vw - 10px) / 700));
    /* height: calc(0.7 * 100vw); */
    width: auto;
  }
  #banner-content {
    position: absolute;
    top: 28vw;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    z-index: 3;
    align-items: center;
    margin: 0 auto;
  }
  
  #banner-btn-arrow {
    width: calc(0.5rem + 5 * ((100vw - 100px) / 700));
    height: calc(0.5rem + 5 * ((100vw - 100px) / 700));
    margin-left: 1rem;
  }
  #bnr-wlcm-txt {
    width: calc(5rem + 30 * ((100vw - 100px) / 100));
    height: auto;
    margin-bottom: 2rem;
  }
  .banner-text p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.5rem + 5 * ((100vw - 100px) / 700));
    letter-spacing: 0.01em;
    text-transform: capitalize;
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  .button-banner {
    align-items: center;
    padding: 1rem 2rem;
    color: var(--white);
    font-size: calc(0.5rem + 5 * ((100vw - 100px) / 700));
    background-color: var(--secondary);
    font-family: "Sen", sans-serif;
    border-radius: 55px;
  }
  
  img.banner-img {
    width: calc(5rem + 50 * ((100vw - 100px) / 150));
    /* height: auto; */
  }
